<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Gas Station Manager</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button id="username" style="color: #18b0d6">{{ username }}</a>
      <a
        mat-button
        routerLink="/newtransaction"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'user'"
        >Add transaction</a
      >
      <a
        mat-button
        routerLink="/createuser"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'superuser'"
        >Create admin</a
      >
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true"
        (click)="onLogout()"
        >Logout</a
      >
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === false"
        >Login</a
      >
      <a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === false"
        >Sign up</a
      >
    </li>
  </ul>
</mat-toolbar>
