<mat-toolbar color="primary">
  <span *ngIf="userRole === 'client'">
    <a routerLink="/client">Gas Station Manager</a>
  </span>
  <span *ngIf="userRole !== 'client'">
    <a routerLink="/user">Gas Station Manager</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button id="username" style="color: #18b0d6">{{ username }}</a>
      <a
        mat-button
        routerLink="/allclients"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'superuser'"
        >Client list</a
      >
      <a
        mat-button
        routerLink="/allusers"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'superuser'"
        >User list</a
      >
      <a
        mat-button
        routerLink="/user"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'superuser'"
        >Transaction history</a
      >
      <a
        mat-button
        routerLink="/newtransaction"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'user'"
        >Add transaction</a
      >
      <a
        mat-button
        routerLink="/createuser"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true && userRole === 'superuser'"
        >Create user</a
      >
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true"
        (click)="onLogout()"
        >Logout</a
      >
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === false"
        >Login</a
      >
      <a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === false"
        >Sign up</a
      >
    </li>
  </ul>
</mat-toolbar>
