ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: rgba(11, 219, 11, 0.001); /*  10% opaque green */
  border-bottom: 2px solid #ff4800;
}
#username {
  text-transform: capitalize;
}
