ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
a {
  text-decoration: none;
  color: rgba(204, 204, 204, 0.904);
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: rgb(51, 51, 51); /*  10% opaque green */
  border-bottom: 2px solid #3f51b5;
}
#username {
  text-transform: capitalize;
}
.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: rgb(230, 228, 228);
}
