<mat-card>
  <form (submit)="onTransaction(transactionForm)" #transactionForm="ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Identification</mat-label>
        <input
          matInput
          [ngModel]="transaction.identification"
          #identification="ngModel"
          name="identification"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fuel type</mat-label>
        <mat-select [ngModel]="transaction.fueltype" required name="fueltype">
          <mat-option value="Diesel">Diesel</mat-option>
          <mat-option value="Premium">Premium</mat-option>
          <mat-option value="Regular">Regular</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pay method</mat-label>
        <mat-select [ngModel]="transaction.paymethod" required name="paymethod">
          <mat-option value="Cash">Cash</mat-option>
          <mat-option value="Credit card">Credit card</mat-option>
          <mat-option value="Credit card">Debit card</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input
          matInput
          [ngModel]="transaction.amount"
          #amount="ngModel"
          name="amount"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input
          matInput
          [ngModel]="transaction.price"
          #price="ngModel"
          name="price"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">Generate</button>
    </div>
  </form>
</mat-card>
