<mat-card>
  <form (submit)="onTransaction(transactionForm)" #transactionForm="ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Identification</mat-label>
        <input
          matInput
          [ngModel]="transaction.identification"
          #identification="ngModel"
          name="identification"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fuel type</mat-label>
        <input
          matInput
          [ngModel]="transaction.fueltype"
          #fueltype="ngModel"
          name="fueltype"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pay method</mat-label>
        <input
          matInput
          [ngModel]="transaction.paymethod"
          #paymethod="ngModel"
          name="paymethod"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input
          matInput
          [ngModel]="transaction.amount"
          #amount="ngModel"
          name="amount"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input
          matInput
          [ngModel]="transaction.price"
          #price="ngModel"
          name="price"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">Enter</button>
    </div>
  </form>
</mat-card>
